<span class="avatar avatar--<%= size || 'medium' %>">
  <% if (avatar) { %><img src="<%= avatar %>" alt="" loading="lazy" decoding="async" referrerpolicy="no-referrer"><% } else { %><span><%= initial %></span><% } %>
</span>
